* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-image: url('formatopc.jpg'); 
    background-size: cover;  
    background-position: center;
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 18px;
}

.quiz-container {
    background-color: #ffffff;
    padding: 30px;
    padding-bottom: 40px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin-top: 400px; 
    position: relative; 
}

.quiz-container img {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 4%; 
}

.buttons button {
    width: 48%; 
    padding: 50px 80px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn-sim {
    background-color: #4CAF50;
    color: white;
}

.btn-nao {
    background-color: #f44336;
    color: white;
}

.end-screen p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.end-screen button,
#end-screen-button {
    padding: 25px 35px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.end-screen button:hover,
#end-screen-button:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    body {
        background-image: url('formato-cllr.jpg');
    }

    .quiz-container {
        max-width: 350px;
        padding: 20px;
        padding-bottom: 70px; 
        margin-top: 350px; 
    }

    h1 {
        font-size: 16px;
    }

    .buttons button {
        width: 48%;
        padding: 25px 40px;
        font-size: 18px;
    }

    #end-screen-button {
        font-size: 16px; 
    }
}
